# Archivo de secretos y variables de entorno
# ¡NUNCA SUBIR ESTE ARCHIVO A GITHUB!
.env

# Directorios de cache de Python
__pycache__/
*.pyc

# Carpeta del entorno virtual
# Reemplaza 'env_bot/' con el nombre de tu carpeta si es diferente
env_bot/
venv/
env/

# Archivos específicos del sistema operativo o editores de código
.DS_Store
.vscode/